.link {
	font-family : 'Quicksand', sans-serif;
	background-color : 000;
	color : black;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
a:link {
	text-decoration : none;
	color : blue;
	padding : 5px;
	margin-left : 25px;
	margin-right : 25px;
}
a:action {
	text-decoration : none;
	color : white;
}
.panel {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
.paper {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
.resume {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	font-size : 25px;
}
.equipment_techinques {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
.board {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
.podcast {
	font-family : 'Quicksand', sans-serif;
	color : blue;
	padding : 10px;
	width : 100%;
	position : fixed;
	font-size : 25px;
}
